body {
    background-color: #bfdbf7;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    justify-content: center;
    text-align: center;
}

table {
    background-color: #f0f2f9;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.tableAdd {
    background-color: #e1e5f2;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.tableCellAdd{
    border: none;
}

.tableSearch {
    background-color: #e1e5f2;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.tableCellSearch {
    border: none;
}

h1 {
    text-align: center;
    font-style: italic;
}

h3 {
    text-align: center;
    font-style: italic;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}