{% extends 'base.html' %}

{% block head %}
    <title>Cantello National Bank</title>
{% endblock %}

{% block body %}
    <div class="content">
        <h1>Cantello National Bank<br>
        Account List</h1>
        <h3>Bank Teller View</h3>

        <form action="/" method="POST">
            <input type="text" placeholder="First Name" name="first_name" id="first_name">
            <input type="text" placeholder="Last Name" name="last_name" id="last_name">
            <input type="text" placeholder="email" name="email" id="email">
            <input type="text" placeholder="Account Type" name="account_type" id="account_type">
            <input type="integer" placeholder="Account Balance" name="account_balance" id="account_balance">
            <input type="submit" value="Add Account">
        </form>
        {% if accounts|length < 1 %}
        <h3>There are no accounts. Please create one above.</h3>

        {% else %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Account Type</th>
                    <th>Account Balance</th>
                    <th>Data Created</th>
                    <th>Actions</th>
                </tr>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.id }}</td>
                        <td>{{ account.first_name }}</td>
                        <td>{{ account.last_name }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.account_type }}</td>
                        <td>{{ account.account_balance }}</td>
                        <td>{{ account.date_created }}</td>
                        <td>
                            <a href="/update/{{account.id}}">Update</a>
                            <br>
                            <a href="/delete/{{account.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    
{% endblock %}